* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #444;
    position: fixed;
    width: 100%;
    background: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.home {
    background: url('sua-imagem.jpg');
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    font-size: 50px;
}

.home p {
    font-size: 25px;
}

.projetos,
.sobre {
    padding: 100px 40px;
}

.projetos .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
}

.item {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.sobre-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.social .btn {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    background: #ddd;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.btn-voltar {
    margin-right: 20px;
    padding: 6px 14px;
    background: #222;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: #444;
}